*{
   box-sizing: border-box;
}
body{
   background: #ccffcc;
}


.sticky-btn{
   padding: 10px;
   background: #ffff00;
   color: #003300;
   border-radius: 10px;
   cursor: pointer;
}

.sticky-btn:hover{
   background: #ffff99;
}

.sticky-notes{
   width: 300px;
   /* height: 250px; */
   border: 2px solid black;
   border-radius: 10px;
   position: absolute;
   top: 10px;
   left: 10px;
   
}



.sticky-note-header{
   background-color: #ffff00;
   color: #003300;
   font-size: 25px;
   padding: 10px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;  
   cursor: move;
}

#text-area{
   width: 100%;
   outline: none;
   padding: 10px;
   resize: none;
   border: none;
   background: none;
  
}

.close{
   width: 35px;
   height: 35px;
   background: red;
   border-radius: 50%;
   display: grid;
   place-content: center;
   cursor: pointer;
}

.close:hover {
     opacity: 0.8;
}

